{% extends 'layout.html' %}

{% block title %}
    Добавить тест
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <h1 class="display-3">Добавить тест</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    {% else %}
        <div class="alert-danger">Ученики не могут добавлять тесты :(</div>
    {% endif %}
{% endblock %}