{% extends 'layout.html' %}

{% block content %}
    <h2>Вопрос</h2>
    <ul>
        <li>Вопрос: {{ question.question_text }}</li>

        {% for i in question.possibleanswer_set.all %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>

{% endblock %}
