{% extends 'layout.html' %}

{% block content %}
{% for test in tests %}
    <ul>
        <h5>{{ test.lesson.title }}</h5>
        {% for question in test.questions.all %}
            <h6>{{ question.question_text }}</h6>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}