{% extends 'layout.html' %}

{% block title %}Результат теста{% endblock %}

{% block content %}
    <h2>Результат теста</h2>

    <div>{{ result_data.test.title }}</div>

    <div>Количество правильных ответов: {{ result_data.ok_answer }}</div>
    <div>Количество неправильных ответов: {{ result_data.wrong_answer }}</div>
    <div>Результат: {{ result_data.result }}%</div>
{% endblock %}
