{% extends 'layout.html' %}

{% block content %}
  <h2>Вход на сайт</h2>
  {% if form.errors %}
    <p style="color: red">Неверное имя или пароль. Пожалуйста, попробуйте снова</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Войти</button><br>
    <a href="{% url 'signup' %}">Впервые на сайте? Зарегистрируйтесь</a>
  </form>

{% endblock %}