{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar navbar-light" style="background-color: deepskyblue;">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/korea-flag2.png' %}" alt="Учим корейский" width="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Уроки
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% for n in lessons_list %}
                        <a class="dropdown-item" href={% url 'lessons:detail' pk=n.pk %}>{{ n.title }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href={% url 'lessons:list' %}>Список уроков</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Тесты
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% for n in tests_list %}
                        <a class="dropdown-item" href={% url 'lessons:tests:test_details' pk=n.pk test_id=n.pk %}>{{ n.title }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'show_profile' %}">{{ user.username }}</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'signup' %}">Регистрация<span class="sr-only">(current)</span></a>
                </li>
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
            {% endif %}
        </ul>
    </div>
</nav>