{% extends 'layout.html' %}

{% block title %}Тест{% endblock %}

{% block content %}
<h2>Тест</h2>

<div class="lesson-test">
<form method="post">
{% csrf_token %}

{{ test_form_set.management_form }}

{% for form in test_form_set %}

<div>
<span style="font-weight: bold;">{{ forloop.counter }}.</span>

<div style="padding: 0 30px;">
{% for field in form %}
<div style="margin-bottom: 10px;">{{ field }}</div>
{% if field.errors %}<div>{{ field.errors }}</div>{% endif %}
{% endfor %}
</div>
</div>
{% endfor %}

<div class="test-button">
<button type="submit" class="btn btn-primary">Завершить тест</button>
</div>
</form>
</div>
{% endblock %}