{% extends 'layout.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <h2>Добро пожаловать, {{ username }}</h2>

    {% endif %}
    <p>
        Несмотря на то, что с момента восстановления дипломатических отношений в начале 90-х годов прошло не так уж
        много времени,
        за этот период в отношениях между Россией и Кореей произошёл и продолжается динамический прогресс во всех
        сферах: политике, экономике, культуре. Уже сейчас можно с уверенностью сказать, что потенциал развития
        двухсторонних отношений между странами значительно выше результатов, достигнутых на сегодняшний момент. Отдавая
        себе отчёт, что для развития двухсторонних отношений необходима популяризация иностранного языка как инструмента
        для взаимного сближения и понимания, Лингуст предлагает вам краткий онлайн курс по изучению корейского языка с
        нуля, а также дополнительные пособия для продолжения изучения.</p>

    <p>За основу взят популярный самоучитель корейского языка Куротченко и Леонова ©, дополненный аудио-сопровождением
        и комментариями. Изучив онлайн уроки, вы сможете читать по-корейски, составлять грамматически несложные
        предложения по предложенным шаблонам, распознавать на слух несколько сотен слов, понимать базовую грамматику
        корейского языка. Уроки бесплатны.</p>


    <p>Корейский язык может и не обладает такой большой значимостью, как китайский или японский, однако, причин для его
        изучения от этого не уменьшается:</p>
    <ul>
        <li>Изучение корейского поможет расширить круг вашего общения на 78 млн. людей. Это приблизительное число
            говорящих
            на корейском языке людей.
        </li>
        <li>Знание языка поможет вам узнать больше о корейской культуре, традициях и образе жизни.</li>
        <li>Если вы любите путешествовать или собираетесь посетить Корею, знание языка очень сильно пригодится, т.к. не
            многие говорят на английском языке, и попутешествовать по всей стране будет затруднительно.
        </li>
        <li>При трудоустройстве в корейские фирмы (в т.ч. в России) знание корейского языка является обязательным
            условием
            успешной карьеры.
        </li>
        <li>Правительство Кореи предлагает разнообразные гранты и различную финансовую помощь для желающих обучаться в
            их
            стране. А нахождение в стране, в свою очередь, ускорит ваш процесс обучения.
        </li>
        <li>Возможность посетить Олимпиаду 2018 в Пхёнчхане в качестве волонтёра.</li>
        <li>Язык не такой уж и сложный. Не нужно учить иероглифы, всего лишь одна азбука. Грамматика подчиняется простой
            и
            логичной структуре; знание нескольких суффиксов позволит вам без труда составить предложение в любом падеже,
            а
            слова в любой форме.
        </li>
    </ul>
{% endblock %}