<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}<html>
<head style="background-color: aquamarine; ">
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    {% include 'base/css.html' %}
    {% include 'base/js.html' %}
    <title>{% block title %}Учим корейский{% endblock %}</title>
</head>
<body>
<div class="container">
    {% include 'base/top_menu.html' %}
        <br>
    {% block content %}
        <h1>Главная</h1>
    {% endblock %}
</div>

</body>
</html>
