{% extends 'layout.html' %}
{% block content %}
    <h2>Профиль пользователя</h2>
            <img src="/media/{{ profile.avatar }}" width="150px">
            <p>Биография: {{ profile.bio }}</p>
            <p>Местоположение: {{ profile.location }}</p>
            <p>Имя: {{ profile.first_name }}</p>
            <p>Фамилия: {{ profile.last_name }}</p>
            <p>Почта: {{ profile.email }}</p>
    <a class="btn btn-primary" href="{% url 'update_profile' %}">Изменить</a>

{% endblock %}