{% extends 'layout.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ profile_form.as_p }}
  <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}