{% extends 'layout.html' %}

{% block title %}
    Добавить урок
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <h1 class="display-3">Добавить урок</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.media }}</p>
            <p>{{ form.title }} Заголовок</p>
            <p>{{ form.short_text }} Краткое описание</p>
            <p>{{ form.text }} Текст урока</p>
            <p>{{ form.is_published }} Опубликовано</p>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    {% else %}
        <div class="alert-danger">Ученики не могут добавлять уроки :(</div>
    {% endif %}

{% endblock %}
