{% extends 'layout.html' %}
{% block title %}{{ lesson }}{% endblock %}
{% block content %}
    {% if lesson %}
        <h3>{{ lesson|safe }}</h3>
        <hr>
        <p>{{ lesson.text|safe }}</p>

        {% if test %}
            <div class="lesson_footer">
                <a href="{% url 'lessons:tests:test_details' lesson.id test.id %}" class="btn btn-primary">Пройти тест</a>
            </div>
        {% endif %}

    {% else %}
        <h1>Нет такого урока</h1>
    {% endif %}
{% endblock %}