{% extends 'layout.html' %}
{% block title %}Список уроков{% endblock %}
{% block content %}
    <div>
        {% if request.user.is_superuser %}
            <a href="{% url 'lessons:create' %}" class="btn btn-primary">Новый урок</a>
        {% endif %}
    </div>
    <br>
<h1>Список уроков</h1>
    <ul>
        {% for n in lesson %}
                <a href="{% url 'lessons:detail' pk=n.pk %}" style="font-size: x-large">{{ n.title.upper }}</a>
                <br>
                <p>{{ n.short_text }}</p>
                {% if request.user.is_superuser %}
                    {% if perms.lesson.can_change %}
                        <a href="{% url 'lessons:update' pk=n.pk %}">Редактировать </a>
                    {% endif %}
                    <a href="{% url 'lessons:delete' pk=n.pk %}">Удалить </a>
                    {% if not n.test %}
                        <a href="{% url 'lessons:tests:create_test'  pk=n.pk %}">Создать тест </a>
                    {% else %}
                        <a href="{% url 'lessons:tests:add_question'  pk=n.pk %}">Добавить вопрос </a>

                    {% endif %}
                {% endif %}
                <hr>
            </li>
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}