{% extends 'layout.html' %}
{% block title %}{{ lesson }}{% endblock %}
{% block content %}
    {% if request.user.is_superuser %}
        <form method="POST">
            {% csrf_token %}
            <p>{{ form.media }}</p>
            <p>{{ form.title }}</p>
            <p>{{ form.short_text }}</p>
            <p>{{ form.text }}</p>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" class="btn btn-secondary">Отменить</button>

        </form>
    {% else %}
        <div class="alert-danger">Ученики не могут редактировать тесты :(</div>
    {% endif %}
{% endblock %}